* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  /*margin-left: 50px;*/
  background-color: lightgray;
  color: orange;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.6em;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: orange;
}

footer {
  background-color: #aaa;
  font-size: 2em;
  padding-bottom: 1.5em;
  text-align: center;
}

.card_white {
  background-color: #f2f2f2;
  text-align: center;
  padding: 30px;
  width: 50%;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.333333);
}

.image_table {
  /*display: block;*/
  width: 200px;
  height: auto;
  margin: 0.2em;

}

.img_header {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.list_inline {
  /*display: inline-block;*/
  list-style: none;
  padding: 0;
  vertical-align: center;
  margin-bottom: 0px;
  /*margin: 0;*/
}

.list-inline li {
  display: inline-block;
  margin: 0 2em;
}

#sidebar {
  background-color: #aaa;
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  bottom: 0;
  font-size: 2em;
  padding-left: 1em;
  padding-top: 1em;
}
#page-content {
  margin-left: 300px;
}

